p 
{
  font-family: arial;
  color: rgb(81, 77, 77);
  font-size: large; 
  margin-left: 100px;
  margin-bottom: 10px;
}
.thumbnail 
{
  width: 80px;
  border-radius: 800px;
  height: 80px;
  object-fit: cover;
  margin-top: 100px;
}
.search-bar 
{
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  width: 450px;
  height: 30px;
}
.agree 
{
  border: none;
  background-color: blue;
  color: cornsilk;
  margin-left: 100px;
  font-size: 25px;
  border-radius: 60px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-family: arial;
  margin-top: 25px;
  
}
.what 
{
  font-size: 30px;
  margin-left: 100px;
  margin-bottom: -155px;
  margin-top: 150px;
}
.tweet 
{
  background-color: rgb(6, 104, 232);
 color: white;
 border: none;
 padding-right: 35px;
 padding-left: 35px;
 padding-top: 0px;
 padding-bottom: 0px;
 border-radius: 60px;
 cursor: pointer;   
 font-size: 17px;
 margin-left: 500px;
 margin-bottom: -360px;
 vertical-align: middle;
}